<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>My todos</h1>
            <hr/>
        </div>
        <div class="col-12 mb-5">
            <app-todo-add
                (addTodo)="addToTodoList($event)"
            >
        </app-todo-add>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" 
                    *ngFor="let todo of todos; trackBy:trackByIndex"
                >
                    <app-todo-entry 
                        [todo]="todo"
                        (edit) = "editTodo($event)"
                        (remove) = "removeTodo($event)"
                    >
                    </app-todo-entry>
                </li>
              </ul>
        </div>
    </div>
</div>