<div class="container-fluid p-2 bg-dark-subtle">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <a class="nav-link" routerLink="/">Todo App</a>
                    
                </h1>
            </div>
            <div class="col">
                <nav class="nav justify-content-end">
                    <a class="nav-link" routerLink="/about">About</a>
                    <a class="nav-link" routerLink="/contact">Contact</a>
                  </nav>
            </div>
        </div>
    </div>
</div>