<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-4">Welcome to Todo App</h2>
            <img src="https://market-resized.envatousercontent.com/previews/files/464046936/Cover.png?w=590&h=300&cf_fit=crop&crop=top&format=auto&q=85&s=c86f4427c84951a689cb65123312c825d4bdfdbbc45d9b15476b0e6d54af9653" class="img-fluid" alt="...">
            <h3>
                <a routerLink="/my-todos" class="link-underline-primary">My Todos</a>
            </h3>
        </div>
    </div>
</div>