
<div class="row">
    <div 
        class="col-6" 
        
    >
        <span highlight="bg-primary">
            {{todo.name}}
        </span>
        
    </div>
    <div class="col-6 text-end">
        <button 
            class="btn btn-primary me-2"
            (click) = "edit.emit(todo.id)"
        >
            Edit
        </button>
        <button 
            class="btn btn-danger"
            (click) = "remove.emit(todo.id)"
        >
            Remove
        </button>
    </div>       
</div>